<ion-header class="ion-no-border animated fadeInLeft" [translucent]="true">
  <ion-toolbar transparent>
    <ion-button fill="clear" (click)="closeMenu()">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="animated fadeInLeft">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col class="animated slideInLeft" size="12">
        <h1>Home</h1>
      </ion-col>
      <ion-col class="animated slideInRight" size="12">
        <h1>Orders</h1>
      </ion-col>
      <ion-col class="animated slideInLeft" size="12">
        <h1>Account</h1>
      </ion-col>
      <ion-col class="animated slideInRight" size="12">
        <h1>Settings</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>